*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
}
.bt
{
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bt h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    letter-spacing: 5px;
    color: #fff;
    margin: 0;
}

.footer a
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.footer a:hover
{
    color: rgb(255, 0, 191);
}
.footer p
{
    top: 95%;
    left: 41%;
    color: #fff;
    position: fixed;
    font-size: 15px;
    font-style: inherit;
}
.footer strong
{
    margin: 10px;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

section .color
{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1)
{
    background: #ff359b;
    width: 600px;
    height: 600px;
    top: -350px;
}
section .color:nth-child(2)
{
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px; 
}
section .color:nth-child(3)
{
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 0px; 
}
ul
{
    position: relative;
    display: flex;
    z-index: 2;
    bottom: 80px;
}
ul li
{
    position: relative;
    list-style: none;
    margin: 10px;
}
ul li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 23, 151);
    font-size: 2em;
    border: 1px solid rgba(255, 0, 234, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}
ul li a:hover
{
    transform: translateY(-20px);
}
ul li a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
ul li a:hover:before
{
    transform: skewX(45deg) translateX(-150px);
}


@media (max-width: 768px) {

    .bt h2
{
    font-size: 35px;

}

.footer p
{
    left: 32%;
    font-size: 14px;
}

ul li a
{
    width: 50px;
    height: 50px;
}

}


@media (max-width: 569px) {

    .bt h2
{
    font-size: 25px;

}

.footer p
{
    left: 25%;
    font-size: 11px;
}

ul li a
{
    width: 40px;
    height: 40px;
}
ul
{
    bottom: 110px;
}

}